.a-wrapper{
    padding: 70px 0;
    z-index: 70;
  }
  .a-container{
   display: flex;
   position: relative;
   z-index: 4;
   background-color: white;
   
  }
  .a-left{
    flex : 1;
  }
  .a-right{
    flex: 1;
   
  }
  
  .a-inner-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  
  .a-title{
    font-weight: 700;
    font-size: 1.8rem;
    color: #0031AE;
  
  }
  
  .a-details> h2{
    font-weight: 900;
    font-size: 2.5rem;
  }
  .a-details> p{
    font-weight: 400;
    font-size: 1.2rem;
  }
  
  .a-lower{
    display: flex;
    gap: 11px;
  }
  .a-lower> div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px;
  }
  
  
  .image-container{
    margin: 0 auto;
    height: 473px;
    width: 80%;
    position: relative; 
  }
  .image-container>:nth-child(1){
    width: 100%;
  }
  
  .image2{
    position: absolute;
    background-color: red;
    width: 65%;
    height: 50%;
    top: 30%;
    left: -1; 
  
  }
  
  .image2>img{
    width: 100%;
    height: 100%;
  }
 
  .l-ctn>button:hover{
  background-color: #0031AE;
  color: white;
  transition: 1s;
  }

  .l-ctn>:nth-child(1){
    font-weight: 700;
    font-size: 1rem;
  }
  
  .l-ctn>:nth-child(2){
    font-weight: 700;
    font-size: 4.4rem;
    color: #0031AE;
  }
  
  .r-ctn span{
   margin-left: 10px;
  }
  
  .l-ctn> .button{
    border: 1px solid #0031AE;
    color: #0031AE;
  }
  
  .icon{
    color: #0031AE;
  }
  
  @media (max-width:900px) {
    .a-container{
      flex-direction: column;
    }

    .l-ctn>:nth-child(2){
      font-weight: 700;
      font-size: 4.4rem;
      color: #0031AE;}

      .l-ctn>:nth-child(1){
        font-weight: 700;
        font-size: 1rem
  }
  .a-details> p{
    font-weight: 400;
    font-size: 0.9rem;
  }
}
